

	<form method="get" action="/quizes/answer">
	  Pregunta:<%= pregunta %> <p>
        <input type="text" name="respuesta" value="Responde aqui"/>
        <input type="submit" value="Enviar">
        </form>
    

